{% extends "base.html" %}
{% load static %}

<link rel="stylesheet" href="">

{% block css_files %}
    <link rel="stylesheet" href="{% static "challenges/challenge.css" %}">
    <link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">
{% endblock %}


{% block page_title %}
    {{ name_of_the_month|title }} Challenge
{% endblock %}

{% block content %}
    {% include "challenges/includes/header.html" %}
        <h1>{{ name_of_the_month|title }} Challenge</h1>
        {% if monthly_text is not None %}
            <h2>{{ monthly_text }}</h2>
        {% else %}
            <p class="fallback">  No challenge provided for this month at this moment!  </p>
        {%  endif %}

{% endblock %}